<section class="skils-container">
  <section class="skils-inside-container">
    <article class="skils-header">
      <h1 class="topic">
        my skils
        <div class="liner"></div>
      </h1>
      <p class="info-text skils-text">
        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
      </p>
    </article>
    <article class="graphics-container">
      <div class="single-graphic-container">
        <div class="area-info">
          <span class="subject-area">
            Graphics Design
          </span>
          <span class="subject-area persentage-position">
            80%
          </span>
        </div>
        <div class="area-graphic">
          <div class="bottom-rectangle figure"></div>
          <div class="top-rectangle rec-graphics figure"></div>
        </div>
      </div>
      <div class="single-graphic-container">
        <div class="area-info">
          <span class="subject-area">
            Web Development
          </span>
          <span class="subject-area persentage-position">
            90%
          </span>
        </div>
        <div class="area-graphic">
          <div class="bottom-rectangle figure"></div>
          <div class="top-rectangle rec-develop figure"></div>
        </div>
      </div>
      <div class="single-graphic-container">
        <div class="area-info">
          <span class="subject-area">
            html
          </span>
          <span class="subject-area persentage-position">
            50%
          </span>
        </div>
        <div class="area-graphic">
          <div class="bottom-rectangle figure"></div>
          <div class="top-rectangle rec-html figure"></div>
        </div>
      </div>
      <div class="single-graphic-container">
        <div class="area-info">
          <span class="subject-area">
            Web Design
          </span>
          <span class="subject-area persentage-position">
            98%
          </span>
        </div>
        <div class="area-graphic">
          <div class="bottom-rectangle figure"></div>
          <div class="top-rectangle rec-design figure"></div>
        </div>
      </div>
      <div class="single-graphic-container">
        <div class="area-info">
          <span class="subject-area">
            Css
          </span>
          <span class="subject-area persentage-position">
            60%
          </span>
        </div>
        <div class="area-graphic">
          <div class="bottom-rectangle figure"></div>
          <div class="top-rectangle rec-css figure"></div>
        </div>
      </div>
      <div class="single-graphic-container">
        <div class="area-info">
          <span class="subject-area">
            Photograpy
          </span>
          <span class="subject-area persentage-position">
            89%
          </span>
        </div>
        <div class="area-graphic">
          <div class="bottom-rectangle figure"></div>
          <div class="top-rectangle rec-photo figure"></div>
        </div>
      </div>
    </article>
  </section>
</section>