@import url("../../styles/style-variables.css");

.skils-container {
  display: grid;
  max-width: 1920px;
  margin: 135px auto 0 auto;
  background-color: var(--fourth-color);
}

.skils-inside-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(2, auto);
  grid-gap: 71px;
  width: 100%;
  max-width: var(--section-wrapper-width);
  padding-top: 131px;
  padding-bottom: 118px;
  padding: 131px auto 118px auto;
  margin: auto;
}

.skils-header {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(2, auto);
  width: 100%;
  max-width: 525px;
  height: 100%;
  max-height: 126px;
}

.graphics-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;
  grid-gap: 40px 30px;
}

.single-graphic-container {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(2, auto);
  grid-gap: 12px;
}

.area-info {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;
}

.persentage-position {
  justify-self: end;
}

.subject-area {
  color: var(--secondary-color);
  font-family: var(--global-font);
  font-weight: var(--font-medium);
  font-size: 16px;
}

.area-graphic {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.figure {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 570px;
  height: 100%;
  max-height: 10px;
  border-radius: 37px;
}

.bottom-rectangle {
  z-index: var(--index-fourth-priority);
  background-color: var(--secondary-lighter-color);
}

.top-rectangle {
  z-index: var(--index-third-priority);
  background-color: var(--primary-color);
}

.rec-graphics {
  width: 80%;
}

.rec-html {
  width: 50%;
}

.rec-css {
  width: 60%;
}

.rec-develop {
  width: 90%;
}

.rec-design {
  width: 98%;
}

.rec-photo {
  width: 89%;
}