<section class="wrapper-container">
  <header class="main-info">
    <h1 class="topic">
      about me
    </h1>
    <div class="liner"></div>
    <div class="heading-info">
      a lead ux & ui designer based in canada
    </div>
  </header>
  <div class="img-container">
    <div class="img-top">
      <img src="../../assets/pexels-photo-1914877.png" alt="person-img" />
    </div>
    <div class="rectangle-vertical"></div>
  </div>
  <div class="info-container">
    <h1 class="topic">
      i'm rory macann
    </h1>
    <div class="intro-text">
      a lead ux & ui designer based in canada
    </div>
    <p class="info-text about-text">
      It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
    </p>
    <p class="info-text about-text">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </p>
    <div class="btn-container">
      <button class="main-btn primary-button">
        <span class="btn-text primary-text">download cv</span>
      </button>
      <button class="main-btn secondary-button">
        <span class="btn-text secondary-text">about more</span>
      </button>
    </div>
  </div>
</section>