@import url("../../styles/style-variables.css");

.wrapper-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: var(--section-wrapper-width);
  height: 100%;
  max-height: 756px;
  margin: 131px auto auto;
}

.main-info {
  width: 100%;
  max-width: 336px;
  height: 100%;
  max-height: 101px;
}

.topic {
  color: var(--secondary-color);
  font-family: var(--global-font);
  font-weight: var(--font-bold);
  font-size: var(--topic-section-size);
  text-transform: var(--to-uppercase);
}

.liner {
  width: 86px;
  margin-bottom: 17px;
  border: 0.5px solid var(--primary-color);
}

.heading-info{
  color: var(--tertiary-color);
  font-family: var(--global-font);
  font-weight: var(--font-regular);
  font-size: var(--info-text-size);
  text-transform: var(--to-uppercase);
}

.intro-text {
  padding-top: 15px;
  color: var(--tertiary-color);
  font-family: var(--global-font);
  font-weight: var(--font-medium);
  font-size: var(--info-text-size);
  text-transform: var(--to-uppercase);
}

.about-text {
  padding-top: 27px;
}

.info-text {
  color: var(--tertiary-color);
  font-family: var(--global-font);
  font-weight: var(--font-regular);
  font-size: var(--info-text-size);
}

.btn-container {
  display: grid;
  grid-template-columns: 182px 172px;
  grid-template-rows: 63px;
  grid-column-gap: 13px;
  padding-top: 40px;
}

.img-container {
  position: absolute;
  width: 100%;
  max-width: 541px;
  height: 100%;
  max-height: 599px;
}

.img-top {
  position: absolute;
  z-index: var(--index-third-priority);
  width: 100%;
  max-width: 468px;
  height: 100%;
  max-height: 557px;
  margin-top: 222px;
  margin-left: 73px;
  margin-right: 629px;
}

.rectangle-vertical {
  position: absolute;
  z-index: var(--index-fourth-priority);
  width: 100%;
  max-width: 243px;
  height: 100%;
  max-height: 572px;
  margin: 180px 927px 27px 0px;
  background-color: var(--primary-color);
  border-radius: 8px;
}

.primary-button {
  background-color: var(--primary-color);
}

.secondary-button {
  background-color: var(--page-background-color);
  border: 1px solid var(--primary-color);
}