<section class="wrapper">
  <article class="info-container">
    <div class="intro">
      hello, my name is
    </div>
    <h1 class="heading">
      rorry mccann
    </h1>
    <p class="info">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
      type specimen book.
    </p>
    <div class="btn-wrapper">
      <button class="main-btn primary-btn">
        <span class="btn-text primary-text">my work</span>
      </button>
      <button class="main-btn secondary-btn">
        <span class="btn-text secondary-text">hire me</span>
      </button>
    </div>
  </article>
  <div class="top-img">
    <img src="../../assets/pexels-photo-709802-removebg-preview.png" alt="person-img" />
  </div>
  <div class="vertical-rectangle">
  </div>
  <div class="horizontal-rectangle">
  </div>
</section>