@import url("../../styles/style-variables.css");

.wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: var(--section-wrapper-width);
  height: 100%;
  max-height: 756px;
  margin: 86px auto auto;
}

.info-container {
  width: 100%;
  max-width: 525px;
  height: 100%;
  max-height: 318px;
  margin-top: 227px;
  margin-bottom: 211px;
}

.intro {
  color: var(--tertiary-color);
  font-family: var(--global-font);
  font-weight: var(--font-semi-bold);
  font-size: var(--info-text-size);
  text-transform: var(--to-uppercase);
}

.heading {
  color: var(--secondary-color);
  font-family: var(--global-font);
  font-weight: var(--font-bold);
  font-size: 60px;
  text-transform: var(--to-uppercase);
}

.info {
  color: var(--tertiary-color);
  font-family: var(--global-font);
  font-weight: var(--font-regular);
  font-size: var(--info-text-size);
}

.btn-wrapper {
  display: grid;
  grid-template-columns: 158px 158px;
  grid-template-rows: 63px;
  grid-column-gap: 28px;
  padding-top: 63px;
}

.main-btn {
  cursor: pointer;
  height: var(--main-btn-height);
  border-radius: var(--main-btn-border-radius);
}

.btn-text {
  height: var(--main-btn-text-height); 
  font-family: var(--global-font);
  font-weight: var(--font-semi-bold);
  font-size: var(--all-btn-text-size);
  text-transform: var(--to-uppercase);
}

.primary-btn {
  background-color: var(--primary-color);
}

.primary-text {
  color: var(--page-background-color);
}

.secondary-btn {
  background-color: var(--page-background-color);
  border: 1px solid var(--primary-color);
}

.secondary-text {
  color: var(--primary-color);
}

.horizontal-rectangle {
  position: absolute;
  bottom: 0;
  z-index: var(--index-fifth-priority);
  width: 100%;
  max-width: 932px;
  height: 100%;
  max-height: 513px;
  margin-top: 243px;
  margin-left: 613px;
  background-color: var(--fourth-color);
  border-radius: 60px;
}

.vertical-rectangle {
  position: absolute;
  z-index: var(--index-fourth-priority);
  width: 100%;
  max-width: 490px;
  height: 100%;
  max-height: 584px;
  margin-top: 116px;
  margin-left: 680px;
  background-color: var(--primary-color);
  border-radius: 15px;
}

.top-img {
  position: absolute;
  z-index: var(--index-third-priority);
  width: 100%;
  max-width: 476px;
  height: 100%;
  max-height: 700px;
  margin-left: 719px;
}