<header class="header-container">
    <div class="header">
        <div class="header-brand">
            <div class="header-logo">
                P
            </div>
            <div class="header-text">
                Pain
            </div>
        </div>
        <nav class="navigation">
            <ul class="navigation">
                <li>
                    <a class="nav-btns" href="#home">home</a>
                </li>
                <li>
                    <a class="nav-btns" href="#about">about</a>
                </li>
                <li>
                    <a class="nav-btns" href="#portfolio">portfolio</a>
                </li>
                <li>
                    <a class="nav-btns" href="#blog">blog</a>
                </li>
                <li>
                    <a class="nav-btns" href="#services">services</a>
                </li>
                <li>
                    <a class="nav-btns" href="#contact">contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
