@import url("../../styles/style-variables.css");

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding-left: 13px;
    padding-right: 13px;
    height: var(--navbar-elements-height);
    margin-right: 8px;
    color: var(--page-background-color);
    font-family: var(--global-font);
    font-weight: var(--font-bold);
    font-size: 25px;
    background-color: var(--primary-color);
    border-radius: 3px;
}

.header-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: var(--navbar-elements-height);
    color: var(--secondary-color);
    font-family: var(--global-font);
    font-weight: var(--font-bold);
    font-size: 25px;
}

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--index-first-priority);
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    height: var(--navbar-elements-height);
    padding: 57px 20px 20px 20px;
    background-color: var(--page-background-color);
}

.header {
    display: flex;
    justify-content: space-between;
    width: 1170px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 594px;
    height: var(--navbar-elements-height);
}

.nav-btns:hover {
    color: var(--secondary-color);
}

.nav-btns:active {
    color: var(--primary-color);
}

.nav-btns {
    cursor: pointer;
    font-family: var(--global-font);
    font-weight: var(--font-semi-bold);
    font-size: 16px;
    text-transform: var(--to-uppercase);
    color: var(--tertiary-color);
}

.header-brand {
    display: flex;
    width: auto;
}