<section class="services-wrapper">
  <section class="services-heading-container">
    <h1 class="topic">
      my best services
      <div class="liner"></div>
    </h1>
    <p class="info-text">
      It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
    </p>
  </section>
  <section class="services-body-container">
    <article class="container-article">
      <div class="container-img">
        <img src="../../assets/ux.svg" alt="service-img" />
      </div>
      <div class="container-heading">
        <h3 class="article-heading">
          Web Design
        </h3>
      </div>
      <div class="container-info">
        <p class="info-text art-text">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        </p>
      </div>
    </article>
    <article class="container-article">
      <div class="container-img">
        <img src="../../assets/ux.svg" alt="service-img" />
      </div>
      <div class="container-heading">
        <h3 class="article-heading">
          Web Development
        </h3>
      </div>
      <div class="container-info">
        <p class="info-text art-text">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        </p>
      </div>
    </article>
    <article class="container-article">
      <div class="container-img">
        <img src="../../assets/ux.svg" alt="service-img" />
      </div>
      <div class="container-heading">
        <h3 class="article-heading">
          Marketing
        </h3>
      </div>
      <div>
        <div class="container-info">
          <p class="info-text art-text">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          </p>
        </div>
      </div>
    </article>
    <article class="container-article">
      <div class="container-img">
        <img src="../../assets/ux.svg" alt="service-img" />
      </div>
      <div class="container-heading">
        <h3 class="article-heading">
          Photography
        </h3>
      </div>
      <div>
        <div class="container-info">
          <p class="info-text art-text">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          </p>
        </div>
      </div>
    </article>
    <article class="container-article">
      <div class="container-img">
        <img src="../../assets/ux.svg" alt="service-img" />
      </div>
      <div class="container-heading">
        <h3 class="article-heading">
          Copy Paste
        </h3>
      </div>
      <div class="container-info">
        <p class="info-text art-text">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        </p>
      </div>
    </article>
    <article class="container-article">
      <div class="container-img">
        <img src="../../assets/ux.svg" alt="service-img" />
      </div>
      <div class="container-heading">
        <h3 class="article-heading">
          Web Design
        </h3>
      </div>
      <div class="container-info">
        <p class="info-text art-text">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        </p>
      </div>
    </article>
  </section>
</section>