@import url("../../styles/style-variables.css");

.services-wrapper {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 126px 605px;
  grid-gap: 82px;
  max-width: var(--section-wrapper-width);
  height: 100%;
  max-height: 802px;
  margin: 131px auto auto;
}

.services-heading-container {
  display: grid;
  grid-template-columns: 525px;
  grid-template-rows: repeat(2, auto);
}

.services-body-container {
  display: grid;
  grid-template-columns: repeat(3, 370px);
  grid-template-rows: repeat(2, 282px);
  grid-gap: 30px;
}

.container-img {
  display: grid;
  justify-content: center;
  grid-template-columns: auto;
  grid-template-rows: auto;
  padding: 42px 0 20px 0;
}

.container-heading {
  display: grid;
  justify-content: center;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.container-info {
  display: grid;
  justify-content: center;
  grid-template-columns: auto;
  grid-template-rows: auto;
  padding: 16px 0 37px 0;
}

.art-text {
  text-align: center;
}

.article-heading {
  color: var(--secondary-color);
  font-family: var(--global-font);
  font-weight: var(--font-semi-bold);
  font-size: 24px;
}