@import url("../../styles/style-variables.css");

.portfolio-wrapper {
  position: relative;
  display: grid;
  max-width: var(--section-wrapper-width);
  height: 100%;
  max-height: 1103px;
  margin: 132px auto 0 auto;
}

.heading-container {
  display: grid; 
  grid-template-columns: auto; 
  grid-template-rows: 61px 49px; 
  grid-gap: 16px; 
  width: 100%;
  max-width: 525px;
  height: 100%;
  max-height: 126px;
}

.portfolio-text {
  padding-top: 16px;
}

.portfolio-body-container {
  display: grid; 
  grid-template-columns: repeat(3, auto); 
  grid-template-rows: repeat(2, auto); 
  grid-gap: 30px 30px;
}

.img-duplex {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(2, auto);
  grid-gap: 30px;
}

.portfolio-nav {
  display: grid; 
  grid-template-columns: repeat(5, auto); 
  grid-template-rows: auto; 
  grid-gap: 0 37px;
  width: 100%;
  max-width: 950px;
  margin-top: 100px;
  margin-bottom: 49px;
}

.basic-btn {
  cursor: pointer;
  font-family: var(--global-font);
  font-weight: var(--font-semi-bold);
  font-size: 19px;
  text-transform: var(--to-uppercase);
  color: var(--tertiary-color);
}

.basic-btn:hover {
  color: var(--secondary-color);
}

.basic-btn:active {
  color: var(--primary-color);
}