<section class="portfolio-wrapper">
  <article class="heading-container">
    <h1 class="topic">
      latest portfolio
      <div class="liner"></div>
    </h1>
    <p class="info-text portfolio-text">
      It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
    </p>
  </article>
  <nav class="portfolio-navbar">
    <ul class="portfolio-nav">
      <li>
          <a class="nav-btn1 basic-btn" href="#">all projects</a>
      </li>
      <li>
          <a class="nav-btn2 basic-btn" href="#">web design</a>
      </li>
      <li>
          <a class="nav-btn3 basic-btn" href="#">logo design</a>
      </li>
      <li>
          <a class="nav-btn4 basic-btn" href="#">graphic design</a>
      </li>
      <li>
          <a class="nav-btn5 basic-btn" href="#">ux design</a>
      </li>
  </ul>
  </nav>
  <article class="portfolio-body-container">
    <img src="../../assets/img1.png" />
    <div class="img-duplex">
      <img src="../../assets/img2.png" />
      <img src="../../assets/img3.png" />
    </div>
    <img src="../../assets/img4.png" />
    <img src="../../assets/img5.png" />
    <img src="../../assets/img6.png" />
    <div class="img-duplex">
      <img src="../../assets/img7.png" />
      <img src="../../assets/img8.png" />
    </div>
  </article>
</section>