<section class="footer-wrapper">
  <section class="footer-inside-wrapper">
    <section class="left-side-container">
      <div class="pain-container">
        <div class="pain-heading-container">
          <div class="footer-logo">
            P
          </div>
          <div class="footer-text">
            Pain
          </div>
        </div>
        <div class="pain-content-container">
          <p class="info-text">
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
          </p>
        </div>
      </div>
      <div class="quick-container">
        <div class="heading-container">
          Quick Links
        </div>
        <div class="quick-content-container">
          <a class="info-text" href="#about">About Me</a>
          <a class="info-text" href="#portfolio">Portfolio</a>
          <a class="info-text" href="#customers">Customers</a>
          <a class="info-text" href="#blog">Blog</a>
        </div>
      </div>
    </section>
    <section class="right-side-container">
      <div class="contact-container">
        <div class="heading-container">
          Contact Info
        </div>
        <div class="contact-content-container">
          <p class="info-text">
            15th Street NW, Washington DC, New York City
          </p>
          <p class="info-text">
            +3423 4234 4324
          </p>
          <p class="info-text">
            hellohello@gmail.com
          </p>
        </div>
      </div>
      <div class="support-container">
        <div class="heading-container">
          Support Links
        </div>
        <div class="support-content-container">
          <a class="info-text" href="#">Privacy Policy</a>
          <a class="info-text" href="#">Testimonials</a>
          <a class="info-text" href="#">Contact Manager</a>
          <a class="info-text" href="#">Call Now</a>
        </div>
      </div>
    </section>
  </section>
</section>
<div class="cr-label info-text">
  Pain 2020 All Rights Reserved
</div>