@import url("../../styles/style-variables.css");

.footer-wrapper {
  position: relative;
  display: grid;
  justify-content: center;
  max-width: 1920px;
  height: 100%;
  max-height: 493px;
  padding-top: 130px;
  margin: 0 auto;
  border-top: 1px solid var(--fourth-color);
}

.footer-inside-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;
  width: var(--section-wrapper-width);
}

.left-side-container {
  display: grid;
  grid-template-columns: 268px 137px;
  grid-template-rows: auto;
  grid-gap: 0 31px;
}

.pain-container {
  display: grid;
  grid-template-columns: 268px;
  grid-template-rows: 35px 101px;
  grid-gap: 46px;
}

.pain-heading-container {
  display: grid;
  grid-template-columns: 42px 57px;
  grid-template-rows: auto;
  grid-gap: 0 8px;
  height: 35px;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 35px;
  color: var(--page-background-color);
  font-family: var(--global-font);
  font-weight: var(--font-bold);
  font-size: 25px;
  background-color: var(--primary-color);
  border-radius: 3px;
}

.footer-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 35px;
  color: var(--secondary-color);
  font-family: var(--global-font);
  font-weight: var(--font-bold);
  font-size: 25px;
}

.quick-container {
  display: grid;
  grid-template-columns: 137px;
  grid-template-rows: repeat(2, auto);
  grid-gap: 47px;
  width: 100%;
  max-width: 137px;
}

.quick-content-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(4, auto);
  grid-gap: 17px;
}

.right-side-container {
  display: grid;
  grid-template-columns: 217px 165px;
  grid-template-rows: auto;
  grid-gap: 0 83px;
}

.contact-container {
  display: grid;
  grid-template-columns: 217px;
  grid-template-rows: repeat(2, auto);
  grid-gap: 46px;
}

.contact-content-container {
  display: grid;
  grid-template-columns: 206px;
  grid-template-rows: repeat(3, auto);
  grid-gap: 17px;
}

.support-container {
  display: grid;
  grid-template-columns: 165px;
  grid-template-rows: repeat(2, auto);
  grid-gap: 46px;
}

.heading-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  color: var(--secondary-color);
  font-family: var(--global-font);
  font-weight: var(--font-semi-bold);
  font-size: 24px;
}

.support-content-container {
  display: grid;
  grid-template-columns: 165px;
  grid-template-rows: repeat(4, auto);
  grid-gap: 17px;
}

.cr-label {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-content: center;
  padding-top: 20px;
  border-top: 1px solid var(--fourth-color);
  margin-top: 130px;
}