body, html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul,
p {
    margin: 0;
    padding: 0;
}

input::-ms-clear {
    display: none;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}