/* Use for global variables */
:root {
    --page-background-color: #FFFFFF;
    --primary-color: #FF3D4E;
    --primary-lighter-color: #F4636F;
    --secondary-color: #414141;
    --secondary-lighter-color: #AEAEAE;
    --secondary-lightest-color: #D4D0D0;
    --tertiary-color: #777777;
    --tertiary-lighter-color: #707070;
    --tertiary-lightest-color: #959595;
    --fourth-color: #F5F5F5;

    --global-font: 'Poppins', sans-serif;
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
    --to-uppercase: uppercase;

    --index-first-priority: 5;
    --index-second-priority: 4;
    --index-third-priority: 3;
    --index-fourth-priority: 2;
    --index-fifth-priority: 1;

    --section-wrapper-width: 1170px;
    --info-text-size: 16px;
    --all-btn-text-size: 16px;
    --main-btn-text-height: 23px;
    --main-btn-border-radius: 3px;
    --main-btn-height: 63px;
    --nav-elements-height: 35px;
    --topic-section-size: 44px;
}